<h2 class="sr-only">Descriptions</h2>
<dl class="dl-horizontal metadata-collections">
  <% present_terms(@presenter, @presenter.terms_with_values) do |r, term| %>
     <% unless r.label(term) == 'Thumbnail' %>
       <dt><%= r.label(term) %></dt>
       <dd><%= r.value(term) %></dd>
     <% end %>
  <% end %>
</dl>
