<% if @collection_avatar.nil? %>
  <span class="<%= Hyrax::ModelIcon.css_class_for(Collection) %> collection-icon-search"></span>
<% else %>
  <%= image_tag @collection_avatar.avatar.url(:medium), class: 'collection-avatar' %>
<% end %>
