<% license_service = Hyrax::LicenseService.new %>
<label class="control-label select required" for="work_rights">
  Rights  
  <span class="label label-info required-tag">required</span>
</label>
<div class="license-wrapper">
  <div class="row">
      <div class="col-sm-9">
        <%= f.input :rights, as: :select,
          collection: license_service.select_active_options,
          include_blank: 'Use License Wizard or choose directly from the dropdown.',
          item_helper: license_service.method(:include_current_value),
          input_html: { class: 'rights rights-selector', multiple: false },
          label: false
        %>
    </div>
  </div>
</div>
