<div class="featured-highlights">
  <div class="col-xs-12 col-sm-4 text-center">
    <%= render 'featured_researcher' %>
  </div>

  <div class="col-xs-12 col-sm-4 text-center">
    <%= render 'featured_collections' %>
  </div>

  <div class="col-xs-12 col-sm-4 text-center">
    <%= render 'featured_works' %>
  </div>
</div>