<div class="ext-links text-center hidden-xs">
  <a href="http://libapps.libraries.uc.edu/scholarblog/">Scholar Blog</a> |
  <a href="http://libraries.uc.edu/digital-scholarship/data-services">Manage Your Data</a> |
  <a href="http://www.libraries.uc.edu/digital-scholarship.html">Digital Scholarship</a>
</div>
