  <% if @presenter.display_share_button? %>
    <div class="home_share_work">
      <%= link_to [:new, Sufia.primary_work_type.model_name.singular_route_key], class: 'contribute text-center' do %>
        <h3>CONTRIBUTE YOUR WORK</h3>
      <% end %>
    </div>
  <% end %>
