<div id="header">
<div class="GlobalNavResponsive section">
  <div class="navbar navbar-inverse globalnav" role="navigation" id="ucNav">
    <div class="">
      <ul class="nav navbar-nav">
        <li><a class="NavLink" href="http://www.uc.edu?from=globalnav">UC Home</a></li>
        <li><a class="NavLink" href="http://www.uc.edu/visitors.html?from=globalnav">Visit UC</a></li>
        <li><a class="NavLink" href="http://www.uc.edu/foundation.html?from=globalnav">Support&nbsp;UC&nbsp;<span class="glyphicon glyphicon-play"></span></a></li>
        <li><a class="NavLink" href="https://ucdirectory.uc.edu/?from=globalnav">Directories</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle NavLink" data-toggle="dropdown">UC Tools <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="ToolDropItem"><a class="ToolDropLink" href="http://blackboard.uc.edu?from=uctools">Blackboard</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="https://bblearn.uc.edu?from=uctools">BbLearn</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="http://onestop.uc.edu?from=uctools">OneStop</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="https://mail.uc.edu?from=uctools">Student Email</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="https://ucowa.uc.edu/?from=uctools">UCMail</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="https://ucfilespace.uc.edu/?from=uctools">UCFileSpace</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="https://www.ucflex.uc.edu/">UC Flex/ESS</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="http://www.uc.edu/pss/?from=uctools">Password Help</a></li>
            <li class="ToolDropItem"><a class="ToolDropLink" href="https://sslvpn.uc.edu?from=uctools">UC VPN</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.navbar-inner --> 
      </div>
    </div>
  </div>
</div>

