<%= render :partial => '/analytics', :formats => [:html] rescue nil -%>

<div id="uc_header">

  <div class="uc_globalnavResponsive section navbar navbar-inverse navbar-static-top">

    <div class="navbar-inner uc_globalnav" role="navigation" id="ucNav">
      <div class="container">
        <%= link_to image_tag("uc/UC_symbol.png", :alt => "uc.edu") + "University of Cincinnati", "http://www.uc.edu/", {class: "hidden-desktop brand", id: "uc_homelink"} %>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a class="uc_NavLink" href="http://www.uc.edu?from=uc_globalnav">UC Home</a></li>
            <li><a class="uc_NavLink" href="http://www.uc.edu/visitors.html?from=uc_globalnav">Visit UC</a></li>
            <li><a class="uc_NavLink" href="http://www.uc.edu/foundation.html?from=uc_globalnav">Support&nbsp;UC&nbsp;<i class="fa fa-play"></i></a></li>
            <li><a class="uc_NavLink" href="https://ucdirectory.uc.edu/?from=uc_globalnav">Directories</a></li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle uc_NavLink" data-toggle="dropdown">UC Tools <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="http://blackboard.uc.edu?from=uctools">Blackboard</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="https://bblearn.uc.edu?from=uctools">BbLearn</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="http://onestop.uc.edu?from=uctools">OneStop</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="https://mail.uc.edu?from=uctools">Student Email</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="https://ucowa.uc.edu/?from=uctools">UCMail</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="https://ucfilespace.uc.edu/?from=uctools">UCFileSpace</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="https://www.ucflex.uc.edu/">UC Flex/ESS</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="http://www.uc.edu/pss/?from=uctools">Password Help</a></li>
                <li class="uc_ToolDropItem"><a class="uc_ToolDropLink" href="https://sslvpn.uc.edu?from=uctools">UC VPN</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.navbar-inner -->
    </div>
  </div>
</div>
