<%= render 'shared/brand_bar' %>
  <header id="banner" role="banner">
      <br />
      <div class="container">
        <div id="title-bar-wrapper">
          <%= render 'shared/title_bar' %>
        </div>
      </div>
  </header>
