  <header id="banner" role="banner">
    <hgroup>
      <div>
        <%= render 'shared/brand_bar' %>
      </div>
      <br clear="all" />
      <div class="container">
        <div id="title-bar-wrapper">
          <%= render 'shared/title_bar' %>
        </div>
      </div>
    </hgroup>
  </header>
