development:
  adapter: solr
  url: http://192.168.50.3:8983/solr/collection1
test: &test
  adapter: solr
  url: http://192.168.50.3:8983/solr/collection1
production:
  adapter: solr
  url: http://192.168.50.3:8983/solr/collection1

