development:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://127.0.0.1:4001/fedora
test: &TEST  
  user: fedoraAdmin
  password: fedoraAdmin
  url: <%= "http://127.0.0.1:#{ENV['TEST_JETTY_PORT'] || 4001}/fedora-test" %>
production:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://127.0.0.1:4001/fedora
cucumber:
  <<: *TEST
ci:
  <<: *TEST
