# This is a sample config file that points to a solr server for each environment
development:
  url: http://192.168.50.3:8983/solr/collection1
test:
  url: http://192.168.50.3:8983/solr/collection1
production:
  url: http://192.168.50.3:8983/solr/collection1
