<h2>What is <%=t('hyrax.product_name') %>?</h2>

<%= render :partial => 'about_text' %>

<p><%= link_to("Terms of Use", hyrax.terms_path) %></p>

<p><%= link_to("Collection Policy", coll_policy_path) %></p>
