<h2>Creator&#39s Rights</h2>

<p>
  Contributing to <a href="/"><%=t('hyrax.product_name') %></a> may raise questions about what rights you may hold as the creator of a work.

  First and foremost, you are the creator of your work and you are in control of its copyright.  This is your
  right; in no way does contributing to <a href="/"><%=t('hyrax.product_name') %></a> limit your ability to
  claim or enforce copyright on your work.  However, you may have entered into publishing agreements that
  restrict you from sharing your work, especially if you agreed to relinquish or transfer your copyright as part of an author agreement.
</p>

<p>
  <a href="http://www.sparc.arl.org" target="_blank">The Scholarly Publishing and Academic Resources
    Coalition</a> has created useful guidelines to help you navigate through the legalese of scholarly
  communications.  We encourage you to visit this website for a fuller understanding and to take a look at the
  <a href="http://www.sparc.arl.org/resources/authors/addendum-2007" target="_blank">author addendum</a>,
  &#34a legal instrument that modifies the publisher’s agreement and allows you to keep key rights to your articles.&#34
  Adding an author addendum to your authorship agreements grants you rights you may otherwise lose under a standard agreement.
</p>

<p>
  Another resource that may be useful is the <a href="http://www.sherpa.ac.uk/romeo/" target="_blank">SHERPA/RoMEO</a> resource from the University of Nottingham.
  This resource is a database of academic publishers and their standard terms. If you signed a standard
  publishing agreement with one of these companies, this resource will help you determine what rights you have
  under that agreement.  For example, it may help you determine whether it is okay to archive, or submit to
  <a href="/"><%=t('hyrax.product_name') %></a> a pre-print, post-print, publisher’s version, or other version.
</p>

<p>
  For future scholarly works, consider seeking out an open access journal.  These are journals that are more
  generous with ensuring authors retain their intellectual property rights.  A typical OA journal may request
  right of first publication, but assures that the author retains copyright, and may allow authors to add pre-
  and post-prints of articles to institutional or subject repositories.
</p>

<div class="well">
  <h3>Taking Back Control: Managing Copyright and Intellectual Property</h3>

  <strong>How does copyright affect me?</strong><br/>
  As the author of an article published in a scholarly journal, you may be asked to sign away your copyrights, in full or in part, to the publisher as a condition of publication. When you transfer copyright you:
  <ul>
    <li>
      lose the right to post copies of your own work on your own website without permission of the publisher.
    </li>
    <li>
      you cannot legally make copies of your own work for distribution to students or colleagues.
    </li>
  </ul>

  <p>
      <strong>How does copyright affect my publisher?</strong><br/>
      When you surrender your copyright you also surrender control of your work. You give up your scholarly
    output to publishers for free and the publishers, in turn, sell your intellectual property back to our
    institutions for increasingly unreasonable subscription rates. This business model has made science,
    technology and medicine (STM) publishing a highly profitable sector of the publishing industry.
  </p>

  <p>
      <strong>What is copyright?</strong><br/>
      Copyright gives the author or creator of an original work, exclusive control of how that work is
    reproduced, distributed or performed. When you transfer copyright, you no longer have control of how your work is distributed.
  </p>

  <p>
    <strong>Why would an individual relinquish copyright to a corporation?</strong><br/>
    One reason for surrendering copyright is that corporations may have better capabilities for marketing and
    distribution of that work. In the recording industry, for example, an artist might transfer copyright to
    the record label in exchange for royalties.  The record label, in turn, would then ensure that the
    recording is marketed and distributed widely in order to maximize the artist’s royalties.
  </p>
  <p>
    <strong>Why should I retain copyright?</strong><br/>
      By retaining copyright for articles you submit to commercial or society publishers, you are taking back
    control of your own scholarly output. When you own the copyright of your own work, you have the freedom to
    disseminate your work as you please whether this means posting a copy of your article on your own website,
    distributing copies to students and colleagues or posting it to a repository [such as <a href="/"><%=t('hyrax.product_name') %></a>].
    Widespread dissemination of your work, in turn, means that your work can be read by more people and thus has greater potential impact.
  </p>

  <small>Source: “Take Back Control: Managing Copyright and Intellectual Property.” 2005. Accessed February 12,
               2015. <a href="http://www.lib.berkeley.edu/scholarlypublishing/copyright.pdf" target="_blank">http://www.lib
    .berkeley.edu/scholarlypublishing/copyright.pdf</a></small>
</div>
