<% content_for :page_title, "Distribution License // #{application_name} " %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2>Non-Exclusive Distribution License</h2>
      <%= render :partial => 'legally_binding_text' %>
    </div>
  </div>
</div>
