<h2>Documenting Data</h2>

<blockquote>
  “Data without context are inert, but data within contexts become information, knowledge.”
  <br>
  From: Changing the Subject: Art and Attention in the Internet Age By Sven Birkerts
</blockquote>

<p>
  Proper documentation provides the context that your data needs to persist through time, to integrate into new systems and to give you credit for your contributions in the form of data citations. Where possible, you should contribute the following information along with your dataset:
</p>

<ol type="1">
  <li><b>Complete Metadata</b> - Metadata aids Discovery and Reuse. Scholar@UC requires metadata such as title of work, creator name, data submitted and description. All text is searchable. You should write a detailed description to increase discoverability of your content. Also provided are additional metadata fields under the Show Additional Description link. Here you can add in additional fields such as subject terms for search enhancement. If you are following a suggested schema for your discipline, indicate that in the description or in the next document – the README file. </li>
  <br>

  <li><b>README.txt File</b> - This is a text document that provides relevant information such as purpose of the project and the organizational structure or relationship of the files. It explains terms that are unique to the dataset, keywords, omissions and errors. If you are using a file naming convention, you can explain it in the readme file. It is also the place to put additional details that were not included in the metadata, such as additional information about external storage of the data, metadata schema followed and researcher contact information.     <br><br>

  A good example can be found in the <a href="http://dataabinitio.com/?p=378" target="_blank">Data ab Initio blog post README.txt by Kristin Briney</a></li>
  <br>

  <li><b>Data Dictionary/Codebook</b> - This document explains all the variables and abbreviations associated with the dataset. 
  <br><br>

  Here are links to example data dictionaries from The University of Texas at Austin's Population Research Center (<a href="http://www.utexas.edu/cola/redcap/Project-Examples.php" target="_blank">data dictionary examples</a>) and IRSA (<a href="http://irsa.ipac.caltech.edu/applications/DDGEN/Doc/dd_tbl.html" target="_blank">data dictionary example</a>) provide two quick examples of data dictionaries.</li>
  <br>

  <li><b>Methodology/Protocol</b> - This document details the steps taken to collect the data. If you submitted modified data instead of a raw data set, you can explain those steps in this document.</li>
</ol>

<h3>Additional Resources on Documentation for Data:</h3>

<ol type="1">
  <li><a href="http://www.icpsr.umich.edu/icpsrweb/content/deposit/guide/index.html" target="_blank">ICPSR's Guide to Social Science Data Preparation and Archiving</a></li>
  <li><a href="https://www.dataone.org/best-practices" target="_blank">DataOne Best Practices</a></li>
  <li><a href="http://datalib.edina.ac.uk/mantra/" target="_blank">Mantra Research Data Management Training</a></li>
  <li><a href="http://datadryad.org/pages/faq" target="_blank">DataDryad FAQ</a></li>
  <li><a href="http://www.dcc.ac.uk/resources/how-guides" target="_blank">Digital Curation Centre How-to Guides & Checklists</a></li>
</ol>

<h3>Copyright and Data</h3>

<p>
  Copyright is intended to protect creators’ rights concerning their creative works such as written works, images, video. In most cases data is considered fact and not protected by copyright. For guidance on whether your data falls under copyright, you can consult <a href="http://dataabinitio.com/?p=632" target="_blank">this blog post</a> and <a href="https://figshare.com/articles/Data_and_Copyright/3117838" target="_blank">flyer</a> by Kristen Briney. 
</p>

