<h2>File Format Advice</h2>

<p>
  Choosing the right file format for your content is an important consideration when contributing your work to <%=t('sufia.product_name') %>. The future usability of your content will depend on the file format you use. Because of this, we recommend uploading two files for each work: an access file and a preservation file.
</p>

<h3>
  Access Files
</h3>

<p>
  Access files use common formats, ones that we typically use every day. They often use compression, for easy delivery over the web. Access files are what most people will download when viewing you work. Below are some typical access formats.
</p>

<table class="table-bordered table-format-advice">
  <thead>
    <tr>
      <th>
        Text
      </th>
      <th>
        Still Image
      </th>
      <th>
        Audio
      </th>
      <th>
        Video
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>
            MS Office (DOCX, XSLSX, etc.)
          </li>
          <li>
            PDF
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            JPG
          </li>
          <li>
            PNG
          </li>
          <li>
            GIF
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            MP3
          </li>
          <li>
            MP4
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            MP4
          </li>
          <li>
            MPEG
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<p>
  It is recommended that you upload an access file at the time you complete your submission.
</p>

<h3>Accessibility</h3>
<p>
  How you create your access files can have a great impact on those with disabilities. Scholar@UC encourages submitters to create accessible content for all. Some resources for creating accessible content can be found on the <a href="http://www.uc.edu/aess/disability/faculty_resources.html" target= "_blank" alt="UC Faculty Resources on creating accessible content">Disability Services’ Faculty Resources</a> page. Additional resources are available from the <a href="http://ncdae.org/resources/cheatsheets/" target= "_blank" alt="Cheatsheets for creating accessible content.">National Center on Disability and Access to Education</a>.
</p>

<h3>
  Preservation Files
</h3>

<p>
  Preservation files use more stable formats than access files, whose formats are more likely to change with technology. They are often uncompressed and very large. Preservation formats can be used to create new access files, when new formats emerge. Below are some typical preservation formats.
</p>

<table class="table-bordered table-format-advice">
  <thead>
    <tr>
      <th>
        Text
      </th>
      <th>
        Still Image
      </th>
      <th>
        Audio
      </th>
      <th>
        Video
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>
            Open Office (ODT, ODS)
          </li>
          <li>
            CSV
          </li>
          <li>
            PDF/A-1
          </li>
          <li>
            PDF/A-2
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            TIFF
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            WAV
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            AVI
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<p>
  It is recommended that you upload a preservation file after the work submission has been completed. When logged in and viewing the work, near the bottom of your screen you will see a row of buttons that includes:  <span class='fakebutton'>Attach a File</span>
</p>
<p>
  It is also recommended that preservation files be set to private access rights, so users will not be confused about which they should download.
</p>

<p>
  The file format you use will affect its preservability. Some specific guidance is offered below. If you have any questions, please <%= link_to "contact Scholar@UC", sufia.contact_path %>.
</p>

<ul>
  <li>
    Most common formats used on the web are
    <ul>
      <li>
        highly compressed, making it easy to share content over the internet; compression means some information has been removed to make the file smaller; and
      </li>
      <li>
        brittle. Formats used on the web change over time and are dependent on browser technology. For example, the introduction of HTML5, which natively supports videos, has drastically reduced the use of Flash Video (FLV) while increasing the use of MPEG-4 (MP4).
      </li>
    </ul>
  </li>
  <li>
    For long term preservation, the use of uncompressed formats is important. The content if uncompressed is a true master copy, which can be used to create new derivative files as web formats change over time.
  </li>
  <li>
    It's also important to use open (non-proprietary) and stable formats, when possible. This means the format itself is openly documented, widely used, and has likely been in use for many years. For example, it’s preferable to use an uncompressed WAV file for a sound recording over Windows Media Audio.
  </li>
  <li>
    PDF or PDF/A is the best format for documents
  </li>
  <li>
    If uploading music scores, it may be desirable to upload them in a musical notation format (such as Sibelius) if the creator is encouraging reuse. However, they should also be uploaded as PDF (or PDF/A) to ensure their long-term preservation and access.
  </li>
</ul>
