<div class="container">
  <div class="row">
    <div class="span12">

      <h2>Help Pages</h2>
      <ul>
        <li><a href="/coll_policy">Collection Policy</a></li>
        <li><a href="/terms">Terms of Use</a></li>
        <li><a href="/format_advice">File Format Advice</a></li>
        <li><a href="http://librarycopyright.net/resources/fairuse/" target="_blank">Fair Use</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/documenting_data">Documenting Data</a></li>
        <li><a href="/creators_rights">Creator's Rights</a></li>
      </ul>

    </div>
  </div>
</div>