<h2>Student Works Help</h2>

<p>
  Scholar@UC was developed to store and share the scholarly output and creative works of UC faculty (current and emeritus), staff, and students. Works that are deposited in Scholar@UC should support the mission of the University of Cincinnati. Students should work with a faculty member to share scholarly output and creative works, such a capstone projects. <b>All official theses and dissertations must be submitted directly to the Graduate School and not Scholar@UC.</b>

  There are two main workflows for submitting student works to Scholar@UC: Self-Submission and Indirect Submission.

  Self-Submission of Student Works is the preferred method of submitting student works.
</p>

<ul>
  <li><%= link_to "Guidelines for Faculty", advisor_guidelines_path %></li>
  <li><%= link_to "Instructions for Students", student_instructions_path %></li>
</ul>

<p>
  Indirect submissions are when students submit first to a system other than Scholar@UC, such as <a href="https://canopy.uc.edu" target="_blank">Canopy</a>. Direct, self-submission is preferred as it allows students, in Scholar@UC, to agree to the non-exclusive distribution license and to select their own licensing terms for reuse (Creative Commons). In some cases indirect submissions are necessary, and in that case please contact <%= link_to "Scholar@UC", hyrax.contact_path %> for additional help.
</p>
