<% content_for :page_title, "500: Server Error // #{application_name}" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Internal Server Error</h3>
  </div>
  <div class="panel-body">
    <p>Sorry, something went wrong.</p>

    <p>An administrator has been notified of this error.</p>
  </div>
</div>
