<% content_for :page_title, "422: Unprocessable Entity // #{application_name}" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">We Couldn't Process Your Request</h3>
  </div>
  <div class="panel-body">
    <p>Sorry, something went wrong with your request.</p>

    <p>An Administrator has been notified of this error.</p>
  </div>
</div>
