    <div class="col-sm-3">
      <%= link_to document, class: 'catalog-collection-avatar' do %>
        <% if CollectionAvatar.find_by(collection_id: document.id) != nil %>
          <%= image_tag CollectionAvatar.find_by(collection_id: document.id).avatar.url(:medium) %>
        <% else %>
          <span class="<%= Sufia::ModelIcon.css_class_for(Collection) %> collection-icon-search"></span>
        <% end %>
      <% end %>
    </div>
