
!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An embargoed work has been released</h1>
    <p>
      Your work <%= work.title %> has been released from embargo, and is now open access.<br>
    </p>
    <p>
      Do not reply to this email, as it is not monitered.
    </p>
    <p>Sincerely, \n
       The Scholar@uc team</p>
  </body>
</html>
