<%= User.find_by_email(@changes.first.owner).name %> has <%= @change_types[@changes.first.change_type]['human_readable'] %>
you as a proxy in Scholar@UC. A proxy can submit, edit, and delete works on behalf of another user.
If you feel that this was made in error, please contact the <a href="mailto:scholar@uc.edu">Scholar@UC</a> team.
