<%= User.find_by_email(@changes.first.owner).name %> has <%= @change_types[@changes.first.change_type]['human_readable'] %>
you as a proxy in Scholar@UC. A proxy can create and upload files on behalf of another user as well as edit, or delete those
corresponding works and files. If you feel that this was made in error, <a href="mailto:scholar@uc.edu">Scholar@UC team</a>.
