<div id="news" class="container" style="padding-bottom: 20px;">
  <div class="container marketing">
  	<script src="/assets/jquery.zrssfeed.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
      $('#news').rssfeed('http://libapps.libraries.uc.edu/scholarblog/feed/', {
    limit: 3,
	  sort: "date",
	  sortasc: false
        });
      });
    </script>
  </div>
</div>
