<div class="row">
  <div class="span4">
    <%= link_to image_tag("uc/digschol.png", :alt => "Digital Scholarship", :class => "img-circle center-block"), "http://www.libraries.uc.edu/digital-scholarship.html" %>
    <h3 class="text-center">
      Digital Scholarship
    </h3>
    <p>
      UC Libraries support digital scholarship by curating digital collections, managing a next generation repository, offering state of the art digital laboratories, and more.
    </p>
    <p>
      <a class="btn btn-default" href="http://www.libraries.uc.edu/digital-scholarship.html" role="button">View details &raquo;</a>
    </p>
  </div>

  <div class="span4">
    <%= link_to image_tag("uc/datamgmt.png", :alt => "Data Services", :class => "img-circle center-block"), "http://guides.libraries.uc.edu/datamanagementplanning" %>
    <h3 class="text-center">
      Data Services
    </h3>
    <p>
      UC Libraries data management services help you write your data plan, document, share, store your data, and connect with library staff who can assist you.
    </p>
    <p>
      <a class="btn btn-default" href="http://guides.libraries.uc.edu/datamanagementplanning" role="button">View details &raquo;</a>
    </p>
  </div>

  <div class="span4">
    <%= link_to image_tag("uc/thirdcentury.png", :alt => "UC Third Century", :class => "img-circle center-block"), "http://president.uc.edu/thirdcentury" %>
    <h3 class="text-center">
      Creating our Third Century
    </h3>
    <p>
      UC’s 3rd Century strategic vision "leverages research." Scholar@UC is a key component of the UC Research Hub that increases research productivity and impact.
    </p>
    <p>
      <a class="btn btn-default" href="http://president.uc.edu/thirdcentury/" role="button">View details &raquo;</a>
    </p>
  </div>

</div>