<p>


<center>
<div id="myCarousel" class="carousel slide" data-ride="carousel"> 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"> <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:First slide" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>House of Refuge Collection</h1>
          <p>Page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
          <p><a class="btn btn-lg btn-primary" href="/house_of_refuge/" role="button">View</a></p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View All Collections</a></p>
        </div>
      </div>
    </div>
    <div class="item"> <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Subway and Streetcar Improvements Collection</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="/subway/" role="button">View</a></p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View All Collections</a></p>
        </div>
      </div>
    </div>
    <div class="item"> <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Albert B. Sabin Archives</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View</a></p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View All Collections</a></p>          
        </div>
      </div>
    </div>
    <div class="item"> <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Fourth slide" alt="Fourth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Digital Collection</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View</a></p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View All Collections</a></p>          
        </div>
      </div>
    </div>
    <div class="item"> <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Fifth slide" alt="Fifth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Digital Collections</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View</a></p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">View All Collections</a></p>          
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
  </div>
</center>
</p>
