
<div class="container">
  <div class="row-fluid">
    <div class="span8 offset2">
<center>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active"> <img src="https://drc.libraries.uc.edu/bitstream/handle/2374.UC/108/ERC01.jpg" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>DAAP Architecture Collection</h1>
<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at</p>
          <a class="btn btn-lg btn-primary" href="https://drc.libraries.uc.edu/handle/2374.UC/108" role="button">View</a>
        </div>
      </div>
    </div>
    <div class="item"> <img src="https://drc.libraries.uc.edu/bitstream/handle/2374.UC/110/vogt_229134.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Vogt Collection</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-lg btn-primary" href="https://drc.libraries.uc.edu/handle/2374.UC/110?type=title&focusscope=2374.UC/7&mode=browse" role="button">View</a>
        </div>
      </div>
    </div>
    <div class="item"> <img src="https://drc.libraries.uc.edu/bitstream/handle/2374.UC/46/SP-PigStacks-0335342.jpg" alt="Third slide" width="auto">
      <div class="container">
        <div class="carousel-caption">
          <h1>Cincinnati Bicentennial Collection</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-lg btn-primary" href="https://drc.libraries.uc.edu/handle/2374.UC/46" role="button">View</a>
        </div>
      </div>
    </div>
    <div class="item"> <img src="https://drc.libraries.uc.edu/bitstream/handle/2374.UC/102/greek29186.jpg" alt="Fourth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Classics Collection</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-lg btn-primary" href="https://drc.libraries.uc.edu/handle/2374.UC/102" role="button">View</a>
        </div>
      </div>
    </div>
    <div class="item"> <img src="https://drc.libraries.uc.edu/bitstream/handle/2374.UC/11/selden_329161.jpg" alt="Fifth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>UCL Art Collection</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-lg btn-primary" href="https://drc.libraries.uc.edu/handle/2374.UC/11?rpp=20&order=ASC&sort_by=1&etal=-1&type=title&offset=20&restrict=false&focusscope=2374.UC/7&mode=browse" role="button">View</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span style="font-size:60%;" class="fa fa-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span style="font-size:60%;"class="fa fa-chevron-right"></span></a>
  </div>

  </center>
    </div>
  </div>
</div>
