<div id="splash_home_header">
  <div class="splash_home_share_work">
      <%= link_to [:new, Hyrax.primary_work_type.model_name.singular_route_key], class: 'contribute text-center' do %>
        <h3>CONTRIBUTE YOUR WORK</h3>
      <% end %>
  </div>
</div>
