<% content_for :page_title, "#{application_name} Distribution License" %>
<%= render 'shared/header' %>
<%= render 'shared/flash_message' %>

<div class="container">
  <div class="row">
    <div class="span12">
    	<h2>
		Non-Exclusive Distribution License
		</h2>

<%= render :partial => 'curation_concern/base/legally_binding_text' %>

	</div>
  </div>
</div>

<%= render 'footer' %>