<%= render 'shared/header' %>

<div class="container"
  <div class="row"
    <div class="span9"
</br>
<p>
FAQ
May I publish, contribute, or otherwise distribute my content elsewhere?
Yes. When you submit content to Scholar@UC you agree to a non-exclusive distribution license <link, see below> that grants UC the right to enhance metadata, to replicate the content for preservation, and to make the content available through computer interfaces. This license in no way prevents you from distributing your content through other channels.
If I have a problem with the system, where do I go for assistance?
Use the contact form <link> to submit any inquiry about Scholar@UC, including technical issues.
Where do I go if I want to consult with subject area specialists on content?
Access the Subject Librarians directory <http://www.libraries.uc.edu/help/subject-librarians.html> to find contact info for subject area specialists.
 

</p>
    </div>
  </div>
</div>

<%= render 'footer' %>
