<% content_for :page_title, "About Orcid" %>
<%= render 'shared/header' %>
<%= render 'shared/flash_message' %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2>What is ORCID?</h2>
      <p>
        ORCID (Open Researcher and Contributer ID) is a 16 digit code used to uniquely identify scientific and other academic authors and contributors. This addresses the problem that a particular author's contributions to scientific literature or publications in the humanities can be hard to recognize as most personal names are not unique, they can change (such as with marriage), have cultural differences in name order, contain inconsistent use of first-name abbreviations and employ different writing systems. The ORCID organization offers an open and independent registry intended to be the de facto standard for contributor identification in research and academic publishing.
		  </p>	
    </div>
  </div>
</div>

<%= render 'footer' %>