<% content_for :page_title, "About Orcid" %>
<%= render 'shared/header' %>
<%= render 'shared/flash_message' %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2>What is ORCID?</h2>
      <p>
        <a href="http://orcid.org">ORCID (Open Researcher and Contributor ID)</a> is a registry of unique identifiers for researchers and scholars that is open, non-proprietary, transparent, mobile. and community-based. ORCID provides a persistent digital identifier to distinguish YOU from all other researchers, linking all of your professional activities. For example:
		  </p>	
      <ul>
        <li>Funding organizations like the U.S. NIH, Welcome Trust, and Portuguese FCT, are requesting ORCID iDs during grant submission and plan to use it to reduce the burden of grant submission.</li>
        <li>Publishers are collecting ORCID iDs during manuscript submission, and your ORCID iD becomes a part of your publication's metawdata, making your work attributable to you and only you.</li>
        <li>Universities and research institutes such as Harvard, Oxford, Michigan, Boston, NYU Langone Medical Center, and Texas A&M encourage ORCID adoption, and many are creating ORCID iDs for their faculty, postdocs, and gradute students.</li>
        <li>Professional associations like the Society for Neuroscience and Modern Language Association are incorporating ORCID iDs into membership renewal.</li>
      </ul>
      <p>
        Over time, this collaborative effort will reduce redundent entry of biographical and bibliographical data into multiple systems. Your ORCID iD will belong to you throughout your scholarly career as a persistent identifier to distinguish you from other researchers and ensure consistent, reliable, attribution of your work.
      </p>
      <p>To get started with ORCID you can claim your free ORCID iD by clicking the "Create or Connect your ORCID iD" button on your Scholar@UC account details page (or head over to <a href="http://orcid.org/register">orcid.org/register)</a>.</p>
      <p>The Scholar@UC implentation of ORCID supports connecting to and displaying ORCID iDs, but does not support the ability to sign-in to Scholar with an ORCID iD</p>
    </div>
  </div>
</div>

<%= render 'footer' %>