<%= render 'shared/header' %>

<div class="container">
  <div class="row"
    <div class="span9"
</br>
</br>
Preservation
Preservation is a core, mission-critical, service of Scholar@UC. All content submitted to Scholar@UC will receive bit-level preservation with regular fixity checks. However, the future usability of content will heavily depend on the file format used. Files that open today may not open tomorrow.
Levels of Preservation
Level 1 – Highest level, preferred format, committed to preserve usability. When applicable, content should be uncompressed (e.g. TIFF, WAV, AVI).
Level 2 – Medium level, acceptable format, limited effort will be made to preserve usability.
Level 3 – Lowest level, unsupported format, content will receive bit-level preservation as is – no effort will be made to preserve usability. Level 3 includes any format or encoding not listed in Level 1 or 2.
Text 
Level 1
•	Open Document (ODT, ODS, ODP, ODB, ODG, ODF)
•	XML, SGML
•	PDF/A-1, PDF/A-2
•	CSV
•	TSV
•	Plain text (UNT-8, ANSI)	Level 2
•	Microsoft Office (DOC/DOCX,XSL/XSLX, PPT/PPTX, ADB/ADBX)
•	PDF
•	HTML/CSS without external dependencies	Level 3
•	Plain text (other encoding)

Still Image
Level 1
•	TIFF
•	SVG	Level 2
•	JP2
•	JPG
•	PNG	Level 3
•	BMP
•	GIF
•	PSD (Photoshop)

Sound
Level 1
•	WAV
•	AIFF	Level 2
•	MP3
•	MP4/M4A	Level 3
•	RA/RM
•	WMA

Moving Image (preferred)
Level 1
•	AVI
•	QT	Level 2
•	MP1
•	MP2
•	MP4/M4V
•	QT (compressed)
•	AVI (compressed)	Level 3
•	SWF
•	WMV



    </div>
  </div>
</div>

<%= render 'footer' %>
