<% content_for :page_title, "#{application_name} Student Works" %>
<%= render 'shared/header' %>
<%= render 'shared/flash_message' %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2>Student Works</h2>
      <%= render :partial => 'student_work_help_text' %>
    </div>
  </div>
</div>

<%= render 'footer' %>