<% content_for :page_title, "#{application_name} Terms of Use" %>
<%= render 'shared/header' %>
 
<div class="container">
  <div class="row">
    <div class="span12">

    <%= render :partial => 'terms_text' %>

    </div>
  </div>
</div>
 
<%= render 'footer' %>
