html, body {
	height: 100%;
}

#page-wrapper {
	min-height: 100%;
	margin-bottom: -100px;
}

#page-wrapper:after {
	content: "";
	display: block;
}

.footer-wrapper, #page-wrapper:after {
	height: 100px;
}

.footer-wrapper {
	background-color: #222;
}
