/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

// change default bootstrap navbar breaking point

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';
@import 'license-selector';

#home_header  {
  background-image: image-url('header/TUC_aerial-980.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 8px solid #E1E1E1;
  border-bottom: 8px solid #E1E1E1;
}

.contribute {
  color: white;
  width: 70%;
  line-height: 8em;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  padding-top: 50px;
  vertical-align: middle;
  display: inline-block;
  float: none;
 }

.scholar-desc {
  padding-top: 50px;
}

hr {
  border-color: black;
background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

hr:after {
  content: attr(data-header);
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 0.25em;
  background: white;
}

.navbar-header {
    min-height: 70px;
}

.navbar-brand {
  font-size: 30px;
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
}

#top-navbar-toggle {
  margin-top: 20px;
}

.nav-hyrax-controls {
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
    text-align: center;
}

/* Change primary button color to red */
.btn-primary {
  color: #ffffff;
  background-color: #e00122;
  border-top-color: #D90000;
  border-right-color: #D90000;
  border-bottom-color: #D90000;
  border-left-color: #D90000;
  border-color: #e00122;
  &:hover {
    background-color: lighten( #e00122, 5% );
  }
  &:focus {
    background-color: lighten( #e00122, 5% );
  }
}

/* override #add_form_field control styling */

button.btn.btn-link.add {
  color: #e00122;
  background-color: transparent;
  border-color: transparent;
  &:hover {
    color: lighten( #e00122, 5% );
  }
  &:focus {
    color: lighten( #e00122, 5% );
  }
}

a {
  color: #e00122;
}

div.home_share_work a.btn-primary:active {
     background-color: #e00122;
  }

div.home_share_work a.contribute.text-center {
     color: #ffffff;
     background-color: #e00122;
}

div.input-group-btn button.btn-primary:active {
  background-color: #e00122;
}

.form-control.select.rights,
.form-control.select.college,
.form-control.string.department {
  max-width: 40em;
}

.header-uc-logo {
  height: 40px;
}

.g-recaptcha {
  margin-bottom: 20px;
}

div.profile a.btn-primary {
  margin-bottom: 20px;
}

.orcid-section {
  padding-top: 20px;
}

.icon-doi {
  @extend .fa-link;
}

#user-edit-proxy {
  margin-top: 30px;
}
