/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'sufia/sufia';

#home_header  {
  background-image: image-url('TUC_aerial-980.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 8px solid #E1E1E1;
  border-bottom: 8px solid #E1E1E1;
}

.home_share_work {
  background: rgb(224,1,34) transparent;
  background: rgba(224,1,34,0.75);
  border-color: white;
  border-style: solid;
  margin: 100px auto;
  width: 60%;
}

.contribute {
  color: white;
  width: 70%;
  line-height: 8em;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  vertical-align: middle;
  display: inline-block;
  float: none;
 }

.scholar-desc {
  padding-top: 50px;
}

hr {
  border-color: black;
background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

hr:after {
  content: attr(data-header);
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 0.25em;
  background: white;
}
