<div class="row">
  <div class="col-md-3 col-sm-3 hidden-xs vertical-center">
    <%= image_tag 'UC_logo-400.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-md-5 col-sm-5 col-xs-12 vertical-center">
    <%= render partial: 'catalog/search_form' %> 
  </div>
  <div class="col-md-3 col-sm-3 col-xs-12 vertical-center">
    <%= image_tag 'scholar_logo.png', class: 'img-responsive' %>
  </div>
</div>
