/* Custom styling workaround for yellow, bootstrap style alert messages */
.help-alert {
   background-color: #fcf8e3;
   border: 1px solid #fbeed5;
   padding: 8px 35px 8px 14px;
   margin-bottom: 20px;
   color: #c09853;
}

.btn.make-me-not-blue {
  background-color: #222;
  background-image: none;

  &:hover{
    background-color: darken( #222, 5% );
    color:#FFF;
    text-decoration: none;
  }
}

#ucNav #login-button {
  margin: 0;

  .caret{
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
  }

  .btn, .btn-large, .btn-primary {
    color:#FFF;
    background-color:#E00122;
    background-image: none;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;

    &:hover{
      background-color: darken( #E00122, 5% );
      color:#FFF;
      text-decoration: none;
    }
  }
}

.alert, .alert-info, .alert-warning, .alert-success {
  color:#000;
  border-color:#DFDFDF;
  background-color:#DFDFDF
}

#brand-bar-wrapper {
  background-color:#000;
  background-image: linear-gradient(#000000,#444 85%,#E00122);
  border-bottom:1px solid #E00122;

  h2 a, h3 a {
    color:#FFF;
  }

  .division {
  }
}

#title-bar-wrapper {
  background-color:#FFFFFF;
  background-image: linear-gradient(#FFFFFF,#FFFFFF 100%);
  border-top:0px solid #000;
  margin-bottom:.3em;


  .btn, .btn-large, .btn-primary {
   color:#FFF;
   background-color:#E00122;
   background-image: none;

   &:hover{
     background-color: darken( #E00122, 5% );
   }
  }
}

#logo {
}

#site-title {

  h1 {
    text-shadow: #000 0 0 0px;
    color: #777;
    text-align: left;
  }

  h1#name {
    padding-left: .25em;
    padding-top: .25em;
  }

  a,
  a:hover,
  a:visited {
    color:#777;
  }
  .btn, .btn-large, .btn-primary, .btn-primary:hover  {
   color:#FFF;
   background-color:#000;
   background-image: linear-gradient(#000,#444 85%,#000)
  }

  .alert, .alert-info, .alert-warning, .alert-success {
    color:#000;
    border-color:#DFDFDF;
    background-color:#DFDFDF
  }

  .container {
    color:#000;
    border-color:#DFDFDF;
    background-color:#DFDFDF
  }

}

#site-subtitle {
  a,
  a:hover,
  a:visited {
    color:#E00122;
  }
  padding-top:0em;
  color: #666666;
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: normal;
  font-size: 12px;
}

#site-actions {
}

#site-search {
}


#main {
  h1,h2,h3,h4,h5,h6 {
    color:#E00122;
  }

  .alert, .alert-info, .alert-warning, .alert-success {
    color:#000;
    border-color:#DFDFDF;
    background-color:#DFDFDF
  }

  .btn, .btn-large, .btn-primary {
   color:#FFF;
   background-color:#000;
   background-image: none;
   border: none;
   text-shadow: none;

   &:hover{
     background-color: #222;
   }
 }

  .btn-link {
    border-color: transparent;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .container {
    color:#000;
    border-color:#DFDFDF;
    background-color:#DFDFDF
  }
}

.rssRow {
  color: #000000;

  a,
  a:hover,
  a:visited {
    color:#E00122;
  }
}

.rssHeader {
  color: #000000;

  a,
  a:hover,
  a:visited {
    color:#E00122;
  }
}
.carousel-caption {
    color: #FFFFFF;

   .btn, .btn-large, .btn-primary, .btn-primary:hover  {
   color:#FFF;
   background-color:#E00122;
   background-image: linear-gradient(#E00122,#E00122 85%,#E00122)
  }

  top: 0;
  bottom: auto;

}

.carousel {
  max-height: 500px;
  overflow: hidden;
  border: #333333 solid 2px;
}

img[usemap], map area{
  outline: none;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#new_user{
  input[type="button"], input[type="submit"], input[type="reset"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 4px;

    &:hover{
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}

#footer {
  color:#999;

  a,
  a:hover,
  a:visited {
    color:#E00122;
  }

}

.table-format-advice {
    width: 100%;
  td {
    vertical-align: top;
    width: 25%;
  }
  th {
    width: 25%;
    text-align: left;
    padding-left: .5em;
  }
}

.btn [class^="icon-"],
.btn [class*=" icon-"] {
  background-image: url("/assets/glyphicons-halflings-white.png");
}

.text-uppercase {
    text-transform: uppercase;
}

.search-result .canonical-image{
  max-width: 125px;
}

#home-link{
  height: 40px;
}

.uc_symbol{
  padding-top: 5px;
}

.fakebutton {
   color:#FFF;
   background-color:#222;
   background-image: none;
   border: none;
   text-shadow: none;
   background-position: 0px -15px;
   transition: background-position 0.1s linear 0s;
   background-repeat: repeat-x;
   display: inline-block;
   padding: 4px 12px;
   margin-bottom: 0px;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   vertical-align: middle;
   cursor: none;
   border-radius: 4px;
   box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
  }

 li.token-input-token-facebook span {
   color: #a6b3cf;
   margin-left: 0;
   margin-right: 5px;
   font-weight: bold;
   cursor: pointer;
   float: left;
 }

  @media (max-width: 767px)
  {
    .search-result .canonical-image{
      max-width: 50%;
    }
  }

@media (max-width: 979px)
{
  .navbar-inner{
    padding-left: 0;
    padding-right: 0;
  }

  #ucNav #login-button {
    .btn, .btn-large, .btn-primary {
      margin-bottom: 10px;
    }
  }
}
