<h2>DOI</h2>

<p>
  <%- remote_service = Hydra::RemoteIdentifier.remote_service(:doi) -%>
  <strong><%= link_to presenter.doi.first, remote_service.remote_uri_for(presenter.doi.first).to_s %></strong>
</p>

<p>
  This <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> link is the best way for others to cite your work.
</p>
